#content {
	background-image: url("../assets/imgs/parallax/bg.png");
	margin-top: -10rem;
}

div#parallax img {
	margin-top: -7vw;
}

div#parallax::before {
	content: "";
	position: absolute;
	height: 200vh;
	inset: 0;
	background: #7036368b;
}

div#header {
	position: absolute;
	width: 100vw;
	inset: 0;
	margin-top: -20rem;
	padding: 0 2rem;
	justify-content: space-between;

	iframe {
		width: 36rem;
		height: 22rem;
		position: absolute;
	}

	div.col {
		height: 12rem;
		justify-content: space-between;
		margin-right: 4rem;
	}
}

.left-col {
	margin-left: 4rem;
	margin-top: -8rem;
}

.sketch {
	position: relative;
	z-index: 10;
	margin-left: -8rem;
	margin-top: 60rem;
}

.logo {
	width: 42rem;
	height: 18rem;
}

#play-btn {
	padding-top: 2rem;
}

.features {
	position: relative;
	width: 98rem;
	margin-left: -16rem;
	margin-top: -8rem;
}

div#tagline {
	margin-left: auto;
	width: 50%;
}

.deco {
	position: relative;
	width: 44rem;
	margin-top: -19rem;
	margin-right: -6rem;
	float: right;
}

#screenshotsTitle {
	text-align: center;
	margin: 4rem;
}

.screenImg {
	width: 60rem;
	margin-left: 3rem;
}

p {
	font-size: 24px;
	margin-top: -1rem;
}

h1 {
	font-size: 40px;
	letter-spacing: 4px;
}